<h1> Hello</h1>
<p>
  The time is now:
  <%= Time.now %>
</p>

<p>
  <ul>
      <% ['Red', 'Orange', 'Blue'].each do |p| %>
        <li>I like to use these colors: <%= p %></li>
      <% end %>
    </ul>

</p>

